.pokemon-card {
    width: 267.29px;
    height: 238.55px;
    top: 138px;
    left: 110px;
    background-color: #D7D7D7;
    gap: 10px;
    }

.pokemon-button{
    top: 138px;
    left: 110px;
    width: 267.29px;
    height: 238.55px;
    border: 'none';
    background-Color: 'transparent';
    cursor: 'pointer';
}